#root {
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url(./assets/BG-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: white;
  text-shadow: 5px 5px 5px black;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    width: calc(44px * 8);
    height: calc(44px * 8);
  }
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 56px;
    height: 56px;
    position: relative;
    z-index: 2;
    transition: transform 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(110%);
    }
  }
  @media (max-width: 600px) {
    width: 44px;
    height: 44px;
    img {
      width: 42px;
      height: 42px;
    }
  }
}

.black {
  background-color: rgba(156, 99, 13);
}

.white {
  background-color: rgb(190, 190, 190);
}

.selected {
  background-color: rgb(0, 99, 0);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgba(41, 41, 41, 0.459);
  transition: all 0.2s ease-out;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    transform: scale(150%);
  }
}

.lost {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 120px;
  height: 160px;
  overflow: auto;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(190, 190, 190, 0.582);
  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 26px;
    height: 26px;
    position: relative;
    z-index: 2;
  }
}

.lostBlock {
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    flex-direction: row;
  }
}

.restartButton {
  padding: 5px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  &:hover {
    background: rgb(0, 148, 0);
    transform: scale(105%);
  }
}

.timer {
  padding: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.numbers {
  display: flex;
  align-items: center;
  height: 64px;
  @media (max-width: 600px) {
    height: 44px;
  }
}

.numbersArr {
  display: flex;
  flex-direction: column;
  color: rgb(201, 201, 201);
  font-size: 20px;
}

.letterArr {
  display: flex;
  padding-left: 10px;
  color: rgb(201, 201, 201);
  font-size: 20px;
  
}

.letters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  @media (max-width: 600px) {
    width: 44px;
  }
}
